.list{
    display: none;
    list-style-type: none;
}

.logo {
    height: 35px;
}

.parent-logo {
    display: flex;
    align-items: center;
}

.media {
    display: none;
}

.img-disc {
    height: 300px;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/5027619/pexels-photo-5027619.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.img-disc-position {
    background-position: center bottom;
}

.info-disc {
    background-image: url(https://images.pexels.com/photos/221457/pexels-photo-221457.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.info-disc {
    background-image: url(../media/pexels-photo-221457.jpeg);
    background-position: center bottom;
}

.insects {
    background-image: url(https://images.pexels.com/photos/3760420/pexels-photo-3760420.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.falls {
    background-image: url(https://images.pexels.com/photos/3681787/pexels-photo-3681787.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.falls2 {
    background-image: url(../media/laa/artificial-waterfall.svg);
}

.secerity {
    background-image: url(https://images.unsplash.com/photo-1485230405346-71acb9518d9c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=771&q=80);

}

.drop-down-list, .drop-down-list-scroll {
    list-style-type: none;
    padding: 0;
    background: #FFF;
    padding: 12px;
    top: 122px;
    border-top: 1px solid #e0e0e0;
    position: absolute;
    display: none;
    justify-content: center;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 63px;
    box-shadow: 0 2px 4px -2px rgb(175 175 175 / 50%);
    box-sizing: border-box;
}

.drop-down-list-scroll {
    top: 78px;
}

.drop-down-list li, .drop-down-list-scroll li {
    padding: 4px 30px;
    text-align: center;
}

.drop-down-list li a, .drop-down-list-scroll li a{
    text-decoration: none;
    color: #3e4a6a;
    font-size: 19px;
}


.serv::after, .serv-scroll::after {
    position: absolute;
    left: 28.5%;
    top: 122px;
    transform: translateX(-50%);
    background: white;
    border-left: 1px solid #dadce0;
    border-top: 1px solid #dadce0;
    content: '';
    height: 8px;
    opacity: 0;
    transform: rotate( 
    45deg
    ) translateX(-6px);
    width: 8px;
    z-index: 9;
}

.serv-scroll::after {
    top: 78px;
}

.serv:hover::after {
    opacity: 1;
}

.serv-scroll:hover::after {
    opacity: 1;
}

.serv:hover .drop-down-list {
    display: flex;
    z-index: 9;
}

.serv-scroll:hover .drop-down-list-scroll {
    display: flex;
    z-index: 9;
}


@media only screen and (min-width: 768px) {

    .img-disc {
        display: block;
        height: 400px;
    }
    
    .list {
        display: flex;  margin: 0;  
    }

    .media {
        height: 45px;
        box-sizing: border-box;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #3e4a6a;
        flex-direction: row-reverse;
    }

    .media-img {
        height: 20px;
    }

    .media-list {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .info {
        display: flex;
        align-items: center;
    }

    .info p {
        max-width: 229px;
        font-size: 14px;
        margin-left: 6px;
        color: #f7bd4c;
    }

    .media-list {
        display: flex;
        direction: ltr;
        list-style-type: none;
    }

    .div--logo {
        display: flex;
        justify-content: space-around;
    }
    
    .link {
        text-decoration: none;
        color: #3e4a6a;
        font-size: 19px;
    }

    .list .item {
        padding: 26px;
    }

    .media-item {
        padding: 0 8px;
    }

    .info:hover {
        filter: grayscale(100%) sepia(100%);
    }

    .media-img:hover {
        filter: grayscale(100%) sepia(100%);
    }

    .secerity {
        background-position: center -316px;
    }
    
}
