
html {
    direction: rtl;
    font-family: 'Roboto', sans-serif;
    color: #212f54;
}

body{
    padding: 0;
    margin: 0;
}

#menu-scroll {
    display: none;
}

.hero {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    max-width: 1340px;
}

.main {
    direction: ltr;
}

.text {
    font-size: 30px;
    /* font-size: 49px;
    line-height: 76px; */
}

.hero__image svg {
    display: none;
}

.hero__subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0px;
}

.kintaro-article {
    margin: 20px 30px;
}

.kintaro-article__blockquote{
    margin-top: 0px;
    max-width: 467px;
    font-size: 24px;
    line-height: 36px;
    border-right: 4px solid #212f54;
    padding: 0 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 20px;
}

.kintaro-article p {
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 30px;
}

.options__cards__card__content {
    flex: 1;
    padding: 16px;
}

menu {
    line-height: 2;
    padding: 0;
}

.img-disc::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3e4a6a3b;
}

.hero__content {
    z-index: 1;
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 0;
    padding: 30px;
    transform: translate(0%, -50%);
}

.hero__subtitle {
    font-size: 23px;
    /* line-height: 36px; */
}

.hero__subtitle {
    font-size: 17px;
    margin-top: 10px;
}

.nav__menu {
    margin-top: 0;
    list-style-type: none;
}

.div--logo {
    display: flex;
    padding: 25px;
    justify-content: space-between;
}



@media (min-width: 768px){

    #menu-scroll {
        display: block;
    }

    .main {
        direction: rtl;
    }

    .nav {
        display: none;
    }

    .scroll-menu {
        position: fixed !important;
        top: -84px;
        left: 0;
        right: 0;
        z-index: 999999;
        background: white;
        box-shadow: 0 2px 4px -2px rgb(175 175 175 / 50%);
        transition: top .3s;
    }

    .div--logo {
        padding: 0;
    }

    .scroll-menu2 {
        top: 0;
    }

    .align-item-div {
        display: flex;
        align-items: center;
    }

    .hero__content {
        left: 46%;
        transform: translate(-50%, -50%);
    }

    .hero {
        text-align: center;
    }

    .hero--article .hero__image svg {
        max-width: 206px;
        display: inline;
    }

    .hero__content {
        text-align: right;
        margin: 0 0% 0 0;
        padding: 30px 0;
    }

    .hero--article {
        margin-bottom: 80px;
        margin-top: 0px;
        padding-top: 60px;
    }

    .kintaro-article {
        margin: 40px;
        max-width: 800px;
    }

    .hero__subtitle {
        font-size: 23px;
        line-height: 36px;
    }

    .hero__subtitle {
        font-size: 23px;
    }

    .hero__subtitle {
        margin-top: 16px;
    }

    .hero__subtitle {
        font-size: 23px;
    }
}

@media (min-width: 1024px){
    .kintaro-article {
        margin: 40px auto;
    }
    .hero {
        padding-top: 15px;
        padding-right: 70px;
        align-items: center;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 50% 30%;
    }

    .hero__title {
        font-size: 64px;
        line-height: 76px;
        text-align:right;
    }

    .hero__subtitle{
        text-align: right;
    }

   
    .kintaro-article h3 {
        font-size: 22px;
        line-height: 34px;
    }
}
